@font-face {
    font-family: "Anime Ace v05";
    src: local("Anime Ace v05"), url("/fonts/AnimeAce.ttf") format("ttf");
}

body {
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: #000000;
}


.body-index {
    height: 120%;
    font-family: Roboto, Geneva, Helvetica, Arial, sans-serif;
}

.body-project {
    height: 140%;
    font-family: Roboto, Geneva, Helvetica, Arial, sans-serif;
}

.body-firefox {
    height: 130%;
    font-family: Roboto, Geneva, Helvetica, Arial, sans-serif;
}

.body-discussion {
    font-family: Roboto, Geneva, Helvetica, Arial, sans-serif;
}

.body-trans {
    background: rgb(0, 0, 0, 0.6);
}

summary {
    color: deeppink;
}

.hr-v {
    color: #ffffff;
}

.hr-i {
    color: rgb(255, 255, 255, 0);
    height: 1px;
}

img {
    width: 100%;
}

ul {
    list-style-position: inside;
}

a {
    color: deeppink;
}
a:visited {
    color: purple;
}
a:active {
    color: pink;
}

#lista {
    text-align: left;
}

#bodydiv {
    margin-left: 2%;
    margin-right: 2%;
    height: 100%;
}

.titlediv {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentdiv {
    /* NULL */
}

#card {
    box-shadow: 4px 4px 4px 0 rgb(255, 255, 255, 1);
    transition: 0.3s;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}
#card2 {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
}

.card-title {
    padding: 1px 0px 1px 10px;
    font-size: 90%;
}

.card-title-big {
    padding: 1px 0px 1px 10px;
    font-size: 100%;
}

.card-text {
    padding: 1px 0px 1px 5px;
    font-size: 70%;
}

.card-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    color: #ffffff;
    font-size: 70%;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 5px;
}
.card-button:hover {
    opacity:1;
}
.card-button-block {
    padding: 5px 0px 5px 5px;
    text-align: center;
}
.card-img-block {
    padding: 5px 0px 5px 5px;
    text-align: center;
    width: 98%;
}
.copyright {
    bottom: 1em;
    right: 1em;
    text-align: center;
    }

#maindiv {
    background-color: rgba(46, 2, 93, 0.5);
    margin-top: 0px;
}

.card-button-block-head {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    margin: 0 auto 0 auto;
}
th {
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0); 
    text-align: center;
}
td, th {
    padding: 2px;
}
.sitebuttons {
    opacity:0.7;
}
.sitebuttons:hover {
    opacity:1;
}

.homebuttons {
    opacity:0.6;
}
.homebuttons:hover {
    opacity:1;
}
@media only screen and (min-width : 801px) {
    #maindiv {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .sitebuttons {
        width: 100%;
    }
    .homebuttons {
        width: 8%;
        padding-top: 5px;
    }
    table {
        width: 150px;
    }
}
    
@media only screen and (max-width : 800px) {
    #maindiv {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .sitebuttons {
        width: 100%;
    }
    .homebuttons {
        width: 8%;
        padding-top: 5px;
    }
    table {
        width: 130px;
    }
}
