body {
    text-align: center;
}
img {
    width: 100%;
}

@media only screen and (min-width : 801px) {
    body {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
    
@media only screen and (max-width : 800px) {
    body {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
}